<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hywx_fx_bbjf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,631},{150,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,116}</string>
            </dict>
            <key>hywx_fx_bbjf_bao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,213},{278,211}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{278,211}}</string>
                <key>sourceSize</key>
                <string>{306,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hywx_Fx_Bbjf0.png</string>
            <key>size</key>
            <string>{596,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6dbc4c9285d1fe198f8beb50a8ddf3b:26684fe332b9827e728961d37ae03587:7388625577e86469821710d5126d692e$</string>
            <key>textureFileName</key>
            <string>Hywx_Fx_Bbjf0.png</string>
        </dict>
    </dict>
</plist>
